@font-face {
  font-family: font-regular;
  src: url("assets/font/netflix-sans-font/NetflixSans-Regular.otf");
}
@font-face {
  font-family: font-bold;
  src: url("assets/font/netflix-sans-font/NetflixSans-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font-regular;
  color: #ffffff;
}
header {
  background-image: url("assets/images/netflix-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-wrapper {
  background-color: rgba(0, 0, 0, 0.674);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: center;
  height: 70px;
}

.navbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-sign {
  height: fit-content;
  width: fit-content;
  padding: 6px 16px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 40%;
}
.text-one {
  font-size: 3.6rem;
  font-family: font-bold;
  font-weight: 900;
  margin-bottom: 15px;
}
.text-two {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.text-three {
  font-size: 1.05rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.signup {
  display: flex;
  gap: 8px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.signup input {
  padding: 14px 18px;
  background-color: rgb(22, 22, 22, 0.7);
  border: 1px solid rgb(94 94 94);
  border-radius: 4px;
  font-size: 1rem;
  color: rgb(183 182 182);
  flex: 1;
}
.signup button {
  padding: 11px 16px;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}