@font-face {
  font-family: font-regular;
  src: url("assets/font/netflix-sans-font/NetflixSans-Regular.otf");
}
@font-face {
  font-family: font-bold;
  src: url("assets/font/netflix-sans-font/NetflixSans-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font-regular;
  color: #ffffff;
}
header {
  background-image: url("assets/images/netflix-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-wrapper {
  background-color: rgba(0, 0, 0, 0.674);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: center;
  height: 70px;
}

.navbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-sign {
  height: fit-content;
  width: fit-content;
  padding: 6px 16px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 40%;
}
.text-one {
  font-size: 3.6rem;
  font-family: font-bold;
  font-weight: 900;
  margin-bottom: 15px;
}
.text-two {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.text-three {
  font-size: 1.05rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.signup {
  display: flex;
  gap: 8px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.signup input {
  padding: 14px 18px;
  background-color: rgb(22, 22, 22, 0.7);
  border: 1px solid rgb(94 94 94);
  border-radius: 4px;
  font-size: 1rem;
  color: rgb(183 182 182);
  flex: 1;
}
.signup button {
  padding: 11px 16px;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}
main {
  background-color: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 80%;
}
.info-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.selectors {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.option-container {
  padding: 0px 5px;
  background-color: #0f0f0f;
  border: 1px solid #a8aab5;
  border-radius: 3px;
}
.options {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
  color: #ffffff;
}
.inner-feature-container {
  margin-top: 20px;
  display: flex;
  margin-bottom: 70px;
  gap: 18px;
}
.features {
  padding: 20px;
  border-radius: 17px;
  background-color: #1a1f41;
  position: relative;
  flex: 1;
}
.features p {
  margin-top: 17px;
  color: #a8aab5;
  margin-bottom: 100px;
}
.feature-icons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.question-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.questions {
  padding: 28px 25px;
  background-color: #2d2d2d;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
  &:hover {
    background-color: #424242;
  }
}
.mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 90px 0px;
}
.signup-bottom {
  display: flex;
  gap: 8px;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.signup-bottom input {
  padding: 14px 18px;
  background-color: rgb(22, 22, 22, 0.7);
  border: 1px solid rgb(94 94 94);
  border-radius: 4px;
  font-size: 1rem;
  color: rgb(183 182 182);
  flex: 1;
}
.signup-bottom button {
  padding: 11px 16px;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}
footer {
  background-color: #000;
  display: flex;
  justify-content: center;
}
.foot-content {
  color: rgb(183 182 182);
  width: 80%;
}
.contact-link {
  color: rgb(183 182 182);
  font-size: 1.1rem;
}
.link-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.link {
  list-style-type: none;
  margin-bottom: 13px;
}
.link a {
  color: rgb(183 182 182);
}
.language-select {
  border: 1px solid rgb(183 182 182);
  border-radius: 3px;
  background-color: #0f0f0f;
  color: #ffffff;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 3px;
  padding: 8px 12px;
  margin: 40px 0px;
}
.language {
  background-color: #0f0f0f;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
}
.rights {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-bottom: 70px;
}
@media screen and (max-width: 1280px) {
  .link-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 960px) {
  .link-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .link-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .head-wrapper {
    height: fit-content;
  }
  .navbar img {
    height: 40px;
    width: 110px;
  }
  .hero-container {
    margin: 80px 0px;
  }
  .hero-content {
    width: 90%;
  }
  .text-one {
    font-size: 2rem;
  }
  .text-two {
    font-size: 1rem;
    font-weight: 300;
  }
  .signup {
    width: 100%;
  }
  .signup button,
  .signup-bottom button {
    font-size: 1.2rem;
  }
  section {
    width: 90%;
  }
  .info-container h1 {
    font-size: 1.2rem;
  }
  .selectors {
    flex-direction: column;
    gap: 10px;
  }
  .inner-feature-container {
    flex-direction: column;
    gap: 10px;
  }
  .features p {
    margin-bottom: 60px;
  }
  .faq-container h1 {
    font-size: 1.15rem;
  }
  .questions {
    font-size: 1.15rem;
    padding: 28px 22px;
  }
}
